@model IEnumerable<Information_Center.Models.Enrollment>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_StudentLayout.cshtml";
    ViewBag.active1 = "active";
}
<style>
    .courses-list {
        margin-bottom: 50px;
    }

        .courses-list .add-new {
            display: block;
            background: var(--blueColor);
            color: white;
            width: 190px;
            text-align: center;
            padding: 5px 0;
            border-radius: 5px;
            margin-bottom: 30px;
        }

        .courses-list .course-view {
            background: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 13px;
            border: 1px solid var(--blueColor);
            transition: all 0.3s ease;
            overflow: hidden;
            margin-bottom: 30px;
        }

            .courses-list .course-view:hover {
                color: white;
                background: var(--lightblue);
                border: 1px solid var(--lightblue);
            }

            .courses-list .course-view img {
                background: white;
                border-radius: 10px;
                width: 150px;
                object-fit: cover;
                height: 150px;
            }

            .courses-list .course-view p {
                width: 200px;
                height: 100px;
                overflow: auto;
            }

            .courses-list .course-view a {
                display: block;
                width: 100%;
                text-align: center;
                color: white;
                background: var(--blueColor);
                padding: 5px;
            }
</style>
<div class="courses-list">
    <div class="container">
        <h1>Your Courses</h1>
        @if (Model.Count() == 0)
        {
            <h1 style="text-align:center;">No courses added yet</h1>
        }
        <div class="row">
            @foreach (var item in Model)
            {

                <div class="col-md-4 col-sm-4">
                    <div class="course-view">
                        @if (!String.IsNullOrEmpty(item.Course.ImagePath))
                        {
                            <img src="@Url.Content(item.Course.ImagePath)" alt="">

                        }
                        else
                        {
                            <img src="~/images/courses/default.png" alt="">

                        }
                        <h1>@item.Course.Title</h1>
                        <small>@item.Course.Instructor.Name</small>
                        <p>@item.Course.Description</p>

                        <a href="@Url.Action("Details","Course",new { id = item.Course.Id})">View <i class="fa fa-eye"></i></a>
                    </div>

                </div>
            }
        </div>
    </div>
</div>





