
<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cairo&display=swap">
    <title>StudentLogin</title>
    @Styles.Render("~/Content/student-css")
    @Styles.Render("~/Content/student-css/login")
    <meta name="viewport" content="width=device-width" />
    <title>LoginLayout</title>
</head>
<body>
    <div class="overflow"></div>
    <div class="container">
        <div class="logo">
            <a href="@Url.Action("Index","Home")">
                <img src="~/Content/Photo_1625953617841.png" />
            </a>
        </div>
        <h1 style="color:white;">Kh@l!123<br />Mm.01271310939</h1>
        <div class="login-form">
            @RenderBody()
        </div>
    </div>



    <div class="back-home">
        <div class="container">
            <a href="@Url.Action("Index","Home")" class="back-link"><i class="fa fa-arrow-lef"></i>الرجوع للصفحة الرئيسية</a>
        </div>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>
