@model IEnumerable<Information_Center.Models.ApplicationUser>
@{
    ViewBag.Title = "GetAllStudents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .projects .card-body table td img{
        width:60px;
        height:60px;
        object-fit: cover;
        border-radius:50%;
    }
</style>
<div class="recent-grid">
    <div class="container">
        <div class="row">
            
                <div class="projects">
                    <div class="card">
                        <div class="card-header">
                            <h2>الطلاب</h2>
                            <button>للمزيد <i class="fa fa-arrow-right"></i></button>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table width="100%" id="myTable">
                                    <thead>
                                        <tr>
                                            <td>@Html.DisplayNameFor(model => model.Email)</td>
                                            <td>@Html.DisplayNameFor(model => model.UserName)</td>
                                            <td>@Html.DisplayNameFor(model => model.UserType)</td>
                                            <td>@Html.DisplayNameFor(model => model.ImagePath)</td>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach(var user in Model) { 
                                            <tr>
                                                <td>@user.Email</td>
                                                <td>@user.Name</td>
                                                <td>@user.UserType</td>
                                                @if (!String.IsNullOrEmpty(user.ImagePath))
                                                {
                                                    <td>
                                                        <img src="@Url.Content(user.ImagePath)"/>
                                                    </td>
                                                }
                                                else { 
                                                
                                                    <td>
                                                        <img src="~/images/users/default.png" />
                                                    </td>
                                                }
                                            </tr>
                                        }
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            
            @*<div class="col-md-4">

                <div class="students">
                    <div class="card">
                        <div class="card-header">
                            <h2>New students</h2>
                            <button>See all <i class="fa fa-arrow-right"></i></button>
                        </div>
                        <div class="card-body">
                            <div class="student">
                                <div class="profile">
                                    <img src="images/PicsArt_01-06-11.13.24.jpg" width="40px" height="40px" alt="" />
                                    <div class="info">
                                        <h4>Mohamed E. Hamdy</h4>
                                        <small>web developer</small>
                                    </div>
                                </div>
                            </div>
                            <div class="student">
                                <div class="profile">
                                    <img src="images/PicsArt_01-06-11.13.24.jpg" width="40px" height="40px" alt="" />
                                    <div class="info">
                                        <h4>Mohamed E. Hamdy</h4>
                                        <small>web developer</small>
                                    </div>
                                </div>
                            </div>
                            <div class="student">
                                <div class="profile">
                                    <img src="images/PicsArt_01-06-11.13.24.jpg" width="40px" height="40px" alt="" />
                                    <div class="info">
                                        <h4>Mohamed E. Hamdy</h4>
                                        <small>web developer</small>
                                    </div>
                                </div>
                            </div>
                            <div class="student">
                                <div class="profile">
                                    <img src="images/PicsArt_01-06-11.13.24.jpg" width="40px" height="40px" alt="" />
                                    <div class="info">
                                        <h4>Mohamed E. Hamdy</h4>
                                        <small>web developer</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>*@
        </div>
    </div>
</div>
<script src="~/Scripts/DataTables/datatables.js"></script>   
<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>